<div class="row tile_count" data-ng-controller="MainCtrl as main">
			<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
				<span class="count_top"><i class="fa fa-user"></i> Total Issues</span>
				<div class="count">{{main.TotalIssues}}</div>

			</div>

			<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
				<span class="count_top"><i class="fa fa-user"></i> Open Issues</span>
				<div class="count green">{{main.OpenIssues}}</div>

			</div>
			<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
				<span class="count_top"><i class="fa fa-user"></i> Closed Issues</span>
				<div class="count">{{main.ClosedIssues}}</div>

			</div>
			<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
				<span class="count_top"><i class="fa fa-clock-o"></i> Response Time  </span>
				<div class="count">{{main.ResponseTime}}</div>

			</div>
			<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
				<span class="count_top"><i class="fa fa-user"></i> Total Customers</span>
				<div class="count">{{main.TotalCustomers}}</div>

			</div>
			<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
				<span class="count_top"><i class="fa fa-user"></i> New Customers</span>
				<div class="count">{{main.NewCustomers}}</div>

			</div>
</div>

<!---   Map ---->

		<div class="row" data-ng-controller="MapController" >

				<div class="col-md-12 col-sm-12 col-xs-12">
			  	<div class="row" >

							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="x_panel">
									<div class="x_title">
										<h2>Employee Location <small>geo-presentation</small></h2>

										<div class="clearfix"></div>
									</div>


									<div class="col-md-12 col-sm-12 col-xs-12">
										<div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
										<div id="mycontainer" style="width: 100%;">
											<!-- <div id="canvas_dahs" class="demo-placeholder" style="width: 100%; height:270px;"></div> -->
												<highchart config="config" ></highchart>
										</div>
									</div>
								</div>
							</div>

				 </div>

		</div>


   <!---  Reported Issues Line Graph---->

	 <div class="col-md-12 col-sm-12 col-xs-12" ng-controller="LineGraphCtrl as donut">
		 <div class="row" >

				 <div class="col-md-12 col-sm-12 col-xs-12">
					 <div class="x_panel">
						 <div class="x_title">
							 <h2>Paying Customers <small>2016</small></h2>
							 <ul class="nav navbar-right panel_toolbox">
								 <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
								 </li>
								 <li class="dropdown">
									 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
									 <ul class="dropdown-menu" role="menu">
										 <li><a href="#">Settings 1</a>
										 </li>
										 <li><a href="#">Settings 2</a>
										 </li>
									 </ul>
								 </li>
								 <li><a class="close-link"><i class="fa fa-close"></i></a>
								 </li>
							 </ul>
							 <div class="clearfix"></div>
						 </div>


						 <!-- <div class="col-md-9 col-sm-9 col-xs-12"></div> -->
							 <div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
							 <div style="width: 100%;">
								 <!-- <div id="canvas_dahs" class="demo-placeholder" style="width: 100%; height:270px;"></div> -->
                		<highchart config="chartConfig" ></highchart>
							 </div>

					 </div>
				 </div>

		</div>

		 </div>




				</div>

<!---Reported Issues Bar Graph -->

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="dashboard_graph" ng-controller="Chart2Ctrl">

			<div class="row x_title">
				<div class="col-md-6">
					<h3>Reported Issues <small>count</small></h3>
				</div>
			</div>

			<div class="col-md-12 col-sm-9 col-xs-12">
				<div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
				<div style="width: 100%;">
					<!-- <div id="canvas_dahs" class="demo-placeholder" style="width: 100%; height:270px;"></div> -->
						<highchart config="chartConfig" id="linechart" ></highchart>
				</div>
			</div>


			<div class="clearfix"></div>
		</div>
	</div>

</div>


	<br/>
